Source: idor-map
Section: devel
Priority: optional
Maintainer: Votre Nom <votre@email.com>
Build-Depends: debhelper (>= 10), python3, python3-setuptools
Standards-Version: 4.5.0
Homepage: https://github.com/votre-utilisateur/idor-map

Package: idor-map
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: Tool for detecting Insecure Direct Object References (IDOR) in web applications.
 A detailed description of your package goes here.
